/* -----------------------------------------------------------------------------
/* Generals
/* -------------------------------------------------------------------------- */

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

input, button, select, textarea {
  font-size: 1rem;
}

h1, h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  margin-bottom: 24px;
}

p {
  line-height: 1.6rem;
}

img {
  width: 100%;
  height: auto;
}


.btn {
  background-color: #eec028;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 1rem;
  height: 2.2rem;
  padding: 0 2rem;
}


.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input {
  display: block;
  width: 100%;
  border: solid 2px #eee;
  border-radius: 4px;
  padding: 8px;
  font-size: 1rem;
}
.form-group input[type='number'] {
  width: 100px;
}

section {
  padding-bottom: 120px;
}

section header {
  margin: 0 auto;
  padding: 80px 0 60px;
  text-align: center;
  max-width: 680px;
}

.section-background {
  position: relative;

  color: #fff;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2));
}
  
.section-background:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
  background-attachment: fixed;
}

/* -----------------------------------------------------------------------------
/* Menu
/* -------------------------------------------------------------------------- */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  
  height: 60px;
  padding: 0 3rem;

  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);

  transition: all 0.3s ease;
}

#navbar.top {
  padding: 3rem;
  height: 100px;
  box-shadow: none;
  background-color: transparent;
}

#navbar span {
  display: flex;
  align-items: center;
}

#logo {
  max-width: 80px;
  margin-left: 1rem;
}

#navbar a {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1rem;
  display: block;
  
  line-height: 60px;

  transition: all 0.3s ease;
}

#navbar.top span,
#navbar.top a {
  color: #fff;
  line-height: 100px;
}

#main-navigation {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30vw;
  max-width: 320px;

  background-color: #fff;
  box-shadow: inset 7px 0 5px -5px rgba(0,0,0,0.3);
}

#main-navigation a {
  display: block;
  padding: 0 2rem;
}


.side-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.side-header ul {
  display: flex;
  margin: 0 20px;
}

.side-header a {
  display: block;
  padding: 8px;
  font-weight: normal;
}

.side-header a.active {
  text-decoration: underline;
}

/* -----------------------------------------------------------------------------
/* Section jumbo
/* -------------------------------------------------------------------------- */

#section-jumbo {
  height: 90vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
  
#section-jumbo:before {
  background-image: url(../img/hero_4.jpg);
}

.jumbo {
  text-align: center;
}

.jumbo p {
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

.jumbo p span{
  color: #eec028;
}

h1 {
  font-size: 80px;
  letter-spacing: 2px;
}

/* -----------------------------------------------------------------------------
/* Section Welcome
/* -------------------------------------------------------------------------- */

#section-welcome {
  background-color: #eee;
  padding-bottom: 120px;
}

#registration-form {
  position: relative;
  top: -40px;
  
  margin-bottom: 20px;
  padding: 24px;

  border-radius: 8px;
  background-color: #fff;
}

#registration-form input[type='submit']{
  margin-top: 26px;
  width: 100%;
}

.welcome-cta {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 20px;
}

.welcome-cta span {
  font-family: "Playfair Display", serif;
}

.welcome-cta a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 4px;

  color: #eec028;
}

.welcome-img-container {
  position: relative;
}

.welcome-img-container picture {
  position: absolute;
  right: -100px;
  bottom: -100px;

  display: block;
  width: 240px;
  height: 240px;

  object-fit: cover;
  overflow: hidden;
  
  border-radius: 50%;
  border: solid 10px #eee;
}

/* -----------------------------------------------------------------------------
/* Section Room
/* -------------------------------------------------------------------------- */

#section-rooms {
  padding-bottom: 40px;
}

.room {
  text-align: center;
  margin-bottom: 80px;
}


.room-name {
  margin-top: 16px;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-family: 'Playfair Display', serif;
}

.room-name span {
  display: block;
  font-size: 0.9rem;
  font-style: italic;
}

.room-price {
  color: #eec028;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 3rem;
}

.room-bed {
  color: #acacac;
  letter-spacing: 0.1rem;
}

/* -----------------------------------------------------------------------------
/* Section photos
/* -------------------------------------------------------------------------- */

#section-photos {
  background-color: #eee;
}

/* -----------------------------------------------------------------------------
/* Section menu
/* -------------------------------------------------------------------------- */

#section-menu {
}

#section-menu:before {
  background-position: 0 -600px;
  background-image: url(../img/hero_3.jpg);
}

#restaurant-nav ul {
  display: flex;
  justify-content: center
}

#restaurant-nav a {
  display: block;
  padding: 1rem 0;
  margin: 0 1rem;

  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #eec028;

  border-bottom: solid 2px transparent;


  transition: all 0.4s ease;
}

#restaurant-nav a.active {
  color: #fff;
  border-bottom: solid 2px #fff;
}

.menus-container {
  position: relative;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  text-align: center;
  padding-top: 40px;
}

.menu:not(:first-child) {
  display: none;
}

.menu-price {
  display: inline-flex;
  align-items: baseline;
  
  margin: 2rem;
  
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
}

.menu-price:before,
.menu-price:after {
  content: '.';
  margin: 0 1rem;
}

.menu h4 {
  font-family: 'Playfair Display', serif;
  color: #eec028;
  font-size: 1.4rem;
  margin: 1.4rem;
}

.menu ul {
  margin-bottom: 2.8rem;
}

.menu li {
  margin: 1rem;
  letter-spacing: 0.1rem;
}

.menu-details {
  font-style: italic;
}

/* -----------------------------------------------------------------------------
/* Section Testimonies
/* -------------------------------------------------------------------------- */

.testimonies-slider {
  display: flex;
}

.testimony {
  width: 33.33333%;
  text-align: center;
  padding: 0 2rem;
}

.testimony-picture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #eee;
  margin-bottom: 1.6rem;
}

.testimony-author {
  margin-top: 20px;
  font-style: italic;
}

.testimony-author:before {
  content: '__';
  position: relative;
  top: -0.35rem;
  margin-right: 0.3rem;
}

/* -----------------------------------------------------------------------------
/* Section events
/* -------------------------------------------------------------------------- */

#section-events {
  background-color: #eee;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;

  min-height: 505px;
}

.card img {
  max-height: 200px;
  object-fit: cover;
  overflow: hidden;
}

.card-body {
  padding: 2rem;
}

.card-date {
  text-transform: uppercase;
  color: #a6a6a6;
  letter-spacing: 0.1rem;
}

.card-title {
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  font-weight: 400;
  margin-bottom: 20px;

  
}

/* -----------------------------------------------------------------------------
/* Section contact
/* -------------------------------------------------------------------------- */

#section-contact:before {
  background-image: url(../img/hero_4.jpg);
}

#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
  padding: 1rem;
}

#contact-form textarea {
  min-height: 200px;
}

#contact-form input[type='text'], 
#contact-form input[type='phone'], 
#contact-form input[type='email'], 
#contact-form textarea {
  padding: 1rem;
}

#contact-form input, 
#contact-form textarea {
  color: #fff;
  border: solid 2px #fff;
  background-color: rgba(255,255,255,0.2);
  max-width: 100%;
  margin: 1rem 0;
} 

#contact-form input[type='submit'] {
  max-width: 200px;
  align-self: center;
}

::placeholder {
  color: #d4d4d4;
}

/* -----------------------------------------------------------------------------
/* Footer
/* -------------------------------------------------------------------------- */
footer {
  background-color: #292929;
  color: #a6a6a6;
}

footer .row {
  padding: 80px 0;
}

footer .row + .row  {
  margin-top: -80px;
}

footer a {
  color: #a6a6a6;
}

footer a:hover {
  text-decoration: underline;
}

.footer-infos,
footer li {
  margin-bottom: 1rem;
}

footer h6 {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

footer h6 i {
  color: #eec028;
  margin-bottom: 8px;
}

#newsletter-form {
  border-bottom: 2px solid rgba(255,255,255,0.1);
}

#newsletter-form input {
  margin-top: 1rem;
  padding: 1rem;
  background: none;
  border: none;
  color: #fff;
}

#newsletter-form button {
  background: none;
  border: none;
  color: #fff;
}

.socials-container {
  float: right;
}

.social-link {
  display: inline-block;
  padding: 8px;
}

.social-link:hover {
  color: #fff;
}